APP_PORT=3001
NODE_ENV=dev

TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=root
TYPEORM_DATABASE=user
TYPEORM_SYNCHRONIZE= true

SECRET_JWT_ACCESS=at_secret
SECRET_JWT_REFRESH=rt_secret
SESSION_SECRET=session_secret


RABBIT_MQ_USER_QUEUE=user
RABBIT_MQ_URI=amqp://localhost:5672

MONGO_LOG=mongo_log
